body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    padding-bottom: 120px;
}

.my-cart {
    text-align: center;
    padding: 0px; 
    margin: 0px; 
    font-size: 25px;
}

.navbar {
    background-color: #0B464E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky; 
    top: 0; 
    z-index: 1000;
}

.logo {
    font-size: 48px;
    font-weight: 900;
}   

.logo img {
    width: 160px; /* or any size you prefer */
    height: auto; /* this will maintain the aspect ratio */
  }  

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.notification {
    display: none; 
    position: fixed; 
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #0B464E;
    color: white;
    padding: 25px 20px; 
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-size: 1rem;
    max-width: calc(100% - 40px);
    box-sizing: border-box; 
}

.notification .close-btn {
    color: white;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: -10px;
}

.notification .close-btn:hover {
    color: #bdbdbd;
}

.notification.show {
    display: block; 
}

.profile-name {
    display: inline-block;
    margin-left: 20px;
}

.profile-name form {
    display: inline;
}

.profile-name input[type="submit"] {
    background-color: #f4433600;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
}

.profile-name input[type="submit"]:hover {
    color: red;
}


.nav-links {
    display: flex;
    padding-right: 40px; 
}

.nav-links a {
    position: relative; 
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #255763;
    border-radius: 4px;
}
.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.cart-items {
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-items .item {
    width: 80%;
    background-color: #f5f5f5; 
    border: none;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    display: flex;
    align-items: center;
}

.cart-items .item img {
    width: 150px; 
    margin-right: 20px;
    border-radius: 4px; 
}

.cart-items .item .item-info {
    flex-grow: 1; 
}

.cart-items .item .item-info p {
    margin: 5px 0;
    font-size: 16px; 
    color: #333; 
}

.cart-items .item .remove-button button {
    background-color: #0B464E;  
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px; 
}

.cart-items .item .remove-button button:hover {
    background-color: #81C784; 
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.cart-items .item .item-info .buttons .color-selector select {
    padding: 10px;
    border-radius: 30px;
}

.quantity-selector {
    display: flex;
    border: 1px solid #ccc;
    width: fit-content;
}
  
.quantity-selector button {
    border: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
  
.quantity-selector button:active {
    background-color: #f0f0f0;
}
  
.quantity-selector .quantity-input {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.cart-items .item .item-info .buttons .remove-button button {
    padding: 10px;
    border-radius: 30px;
}

.red-dot {
    height: 10px;
    width: 10px;
    background-color: rgb(252, 36, 36);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%); 
}

.order-summary {
    background-color: #eee;
    padding: 30px;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 40%;
}

.order-summary .order-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.order-summary h3{
    font-size: 24px;
}

.order-summary ul {
    list-style-type: none;
}

.order-summary button {
    background-color: #006371;
    color: white;
    border-radius: 20px;
    padding: 10px;
    width:200px;
}

.site-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0B464E;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    z-index: 100;
}