body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('../ASSETS/background2.png'); /* please replace with proper file format nalang po ty! */
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 92px;
}

.header-icon {
  width: 30px;
  height: 30px; 
}

.header-title {
  color: #2a9d8f;
  font-size: 24px; 
  margin-top: 40px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: -50px;
}

.content-image1 {
  position: fixed; /* or 'fixed' if the layout requires it */
  bottom: 200px; /* Replace X with the value that positions the box beside the foot */
  left: 150px; /* Replace Y */
  z-index: 2;
}

.content-image3 {
  position: fixed; /* or 'fixed' if the layout requires it */
  bottom: 250px; /* Replace X with the value that positions the box beside the foot */
  left: 270px; /* Replace Y */
  z-index: 1;
}

.content-image3 img {
  width: 300px; /* or any size you prefer */
  height: auto; /* this will maintain the aspect ratio */
}


.content-image {
  position: relative;
  z-index: 3;
}

.content-form {
  width: 35%; 
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group {
  position: relative; 
  margin-bottom: 15px;
}

.toggle-password {
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1; 
}

#eye-icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 15px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  width: 103%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0B464E; 
  color: white;
  cursor: pointer;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link a {
  color: #2a9d8f;
  text-decoration: none;
}

.header-icon a {
    display: inline-block;
    padding: 8px 12px; 
    background-size: contain; 
    text-indent: -9999px; 
    width: 30px; 
    height: 30px; 
    border: none; 
    cursor: pointer;
}

.header-icon a img {
  width: 300px;
  height: 300px;
}

.header-icon a:hover {
    opacity: 0.8;
}

footer {
    display: flex;
    flex-direction: row-reverse;
}

.footer1 img {
  margin-top: -50px;
  width: 300px;
  height: auto;
}

.error-text {
  color: red;
  padding-bottom: 5px; ;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .content-image,
  .content-form {
    width: 100%;
  }
}
